i89/.idea/.name
i89/.idea/codeStyleSettings.xml
i89/.idea/i89.iml
i89/.idea/misc.xml
i89/.idea/modules.xml
i89/.idea/workspace.xml
i89/.idea/vcs.xml
i89/.idea/codeStyleSettings.xml
i89/.idea/dictionaries/Radu.xml
i89/.idea/dictionaries/Radu.xml