/* CSS Document */

body{
  	margin: 0px;
  	padding: 0px;
	overflow:hidden;
}


.home_holder {
width: 100%;
height:100%;
overflow:hidden;
position:absolute;
text-align: center;
    
}


/*-------------------- NAV SYSTEM ---------------*/

.site-page {
width: 100%;
height:100%;
overflow:hidden;
position:absolute;
text-align: center;
z-index: 100;
   pointer-events: none; 
}


.site-page .wrapper {
   width: 100%;
    max-width: 1800px;
    height 40px;
   
    margin: auto;
    position: relative;
}



.site-page .wrapper .site-logo
{
   margin: auto;
   margin-top:40px;
    width:50px;
    height:auto;
    transition: all 0.3s ease;
  
}
.site-page .wrapper .site-logo:hover 
{
   margin: auto;
   margin-top:35px;
    width:60px;
    height:auto;
    cursor: pointer;
    fill:#ffbcbf;
  
}
.site-page .wrapper .site-logo:hover path {
    fill:#ffbcbf;
     transition: all 0.6s ease;
  
}

.site-page .wrapper .comment
{
    position: absolute;
    
    left: 0;
    float: left;
    top:100px;
    width:100%;
    height:auto;
  color:crimson;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    
}




#birdShape {
 pointer-events: all;
    cursor: pointer;
}

.site-page.open .main,
.site-page.open .side {
  pointer-events: all;  
}



.site-page.open .main {
  pointer-events: all;  
}

.site-page .main,
.site-page .side
{
width: 0;
height:100%;
overflow:hidden;
position:absolute;
text-align: center;
float: left;
top:0;
left:0;
    
       -webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.54);
-moz-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.54);
box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.54);
}

.site-page .main {
background: rgba(212,228,239,1);
background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: -o-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
    
 
   
}

.site-page .main {
background-color:#222222;
}

.site-page .side {
 width: 30%;
    min-width: 320px;
max-width: 600px;
    background-color: #444444;
    left:-500px;
   
}

.side .back_btn {
 position: absolute;
    width:160px;
    height: 50px;
    left:30px;
    float: left;
    top:30px;
    background-color: #f58ee9;
    line-height: 50px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size:14px;
    font-weight: 700;
    cursor: pointer;
}

.side .site-logo {
 position: absolute;
    width:60%;
    height: auto;
    right:20%;
    float: right;
    top:120px;

    cursor: pointer;
}


.site_bar {
 position: absolute;
    width: 100%;
    height: 60px;
    float: left;
    left: 0;
    bottom: 0;
    background-color: white;
    z-index: 500;
    border-top: 2px grey solid;
}


/*-------------------- ALEX 3D ---------------*/


#background {

  position:fixed;
  background-color: #111111;
  z-index: 1;
}

#webGL{
position:fixed;
	top: 0px;
	left: 0px;
  	width: 100%;
  	height: 100%;
  	z-index: 5;
}



.views, views > div,
#background,
#webGL {
width: 100%;
height:100%;
position:absolute;
float:left;
left:0;
top:0;	
}


.hud_holder {
	position:relative;
	width:100%;
    height:100%;
/*
    min-height: 970px;
    min-width: 980px;
*/
/*
    max-width: 1800px;
    min-width: 500px;
*/
	z-index: 50;
    text-align: center;
    /*overflow: hidden;*/
 
  margin: auto;
    display: inline-block;
/*    margin-top: 60px;*/
    
  pointer-events: none;

  
}


.hud_holder svg {
    position:absolute;

	width:100%;
    height: 100%;
    float: left;
    top:0;
    left:0;

/*
    max-width: 1800px;
	min-width: 960px;
*/
    text-align: center;
overflow: visible;
 pointer-events: none;
 

    
}

.hud_item {
	position:absolute;
	width:120%;
    height: 100%;
    max-width: 1800px;
	min-width: 960px;
    text-align: center;
    float:left;
    left: 0;
    top:0;
    overflow: hidden;
 pointer-events: none;
  margin: auto;
    display: inline-block;
   
    
}

.svg-container { 

display: inline-block;
position: relative;
width: 100%;
padding-bottom: 100%; 
vertical-align: middle; 
overflow: hidden; 
 
}

.svg-content, .svg-container svg { 
width:100%;
height:56%;
display: inline-block;
position: absolute;
top: 0;
left: 0;


}

#hud-copy {
   width: 100%;
    height: auto;
}

/*-------------------- HUD---------------*/


#burger-hit {
 pointer-events: auto;
    opacity: 0;
    
}
#burger-hit:hover {
 cursor: pointer;
    
}

#close-icon {
display: none;   
    fill: white;
}

#close-icon.navOpen {
display: block;  
    fill: white;
}

#burger {
/*display: none;   */
    fill: white;
}

#burger.navOpen {
display: none;  
    fill: white;
}

.svgMask {
display: none;
  
}

.navBlockerStrip {
 fill-opacity: 0.5;
fill: #222222;
  
}

.nav-titles path, .nav-sub-titles path {
 fill: white;   
}

.pressMe {
   pointer-events: all; 
}

.pressMe:hover {
  cursor:pointer;
}


.nav_indicator {
fill: white;
    display: none;
}

.nav_indicator.selected {
fill: white;
    display: block;
}

.blueSide {
 display: none;
}

.hideMe {
 display:none;
}



#loe-set {
 display: none;
}

.ig-txt {
 display: none;
}

#TOP-INFO-LOE, 
#TOP-INFO-IG {
 display: none;
}


#hit_secondary_seal_8_,
.activateTouch
{
 pointer-events:all;
    
}


#hit_secondary_seal_8_:hover,
.activateTouch:hover {
cursor: pointer;
    fill: red;
    
}

.newOrange {
 fill:orange;
   pointer-events:all; 
}

.newOrange:hover {
 fill:red;
   cursor: pointer;; 
}


/*---------------- THE ARE ACTUALLY ALL USED----------*/

#hud-copy {
display: none;

}

#burger-hit {
 fill-opacity: 0;
pointer-events: all; 
}

#burger-hit:hover {
cursor: pointer;
}

.closed .nav_pad {
    display: none;
    
}

#close-icon {
 display: block;
}

.closed #close-icon {
 display: none;
}

.nav_pad {
     pointer-events: all; 
  /*  fill: #333333;
   transition: all 0.2s ease;*/
    }


.nav_pad.selected,
.nav_pad.selected:hover
{
   fill:#aed332; 
        
    }
                                               
.nav_pad:hover {
     cursor: pointer;
   /*  fill:#d37032; */
   
    }
          
.nav_pad.selected:hover {
         cursor: pointer; 
        
    
    }





.Blue_x0020_Neon{fill:none;stroke:#8AACDA;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;}
	.navStrip{fill:#00A99D;}
	.hud_btn{fill:#29ABE2;}
	.hide_x0020_board{fill:#CCCCCC;}
	.hide_x0020_zone{fill:#4D4D4D;}
	.hide_x0020_board_x0020_2{fill:#CCCCCC;}
	.hide_x0020_board_x0020_3{fill:#CCCCCC;}
	.NAV_x0020_PAD{fill:#C69C6D;}
	.hide_x0020_zone_x0020_2{fill:#4D4D4D;}
	.nav_x002D_pad{fill:#333333;}
	.st0{fill:#FFFFFF;}
	.st1{opacity:0.38;fill:#B3B3B3;}
	.st2{display:none;}
	.st3{display:inline;}
	.st4{fill:#E6E6E6;}
	.st5{display:inline;fill:#E6E6E6;}
	.st6{fill:#333333;}
